{% extends 'layout/master.html' %}

{% from "macros.html" import render_breadcrumbs %}

{% block title %}Property Managers - Create{% endblock %}

{% block page_header %}Property Managers - Create{% endblock %}

{% block breadcrumbs %}
    {% set breadcrumbs_data = [{'title':'Managers', 'endpoint': 'managers.index', 'active': False},
                               {'title':'create', 'active': True}] %}
    {{ render_breadcrumbs(breadcrumbs_data) }}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Create new manager</h3>
                </div>

                {% include 'managers/_form.html' %}
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        $(function () {
            $(".select2").select2();

            $.get('{{ url_for('managers.get_agencies') }}', function(data){
                $("#agency").typeahead({ source: data });
            },'json');
        });
    </script>
{% endblock %}