{% extends 'layout/master.html' %}

{% from "macros.html" import render_breadcrumbs %}

{% block title %}Property Managers index{% endblock %}

{% block page_header %}Property Managers{% endblock %}

{% block breadcrumbs %}
    {% set breadcrumbs_data = [{'title':'Managers', 'endpoint': 'managers.index', 'active': False},
                               {'title':'index', 'active': True}] %}
    {{ render_breadcrumbs(breadcrumbs_data) }}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Managers list</h3>
                </div>
                <div class="box-body">
                    <p><a href="{{ url_for('managers.create') }}" class="btn btn-primary"><i class="fa fa-plus"></i> Create</a></p>
                    <table id="data" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                              <th>ID</th>
                              <th>City</th>
                              <th>Name</th>
                              <th>Agency</th>
                              <th>Phone numbers</th>
                              <th>Email</th>
                              <th>Rate</th>
                              <th>Last updated at</th>
                              <th>Created at</th>
                              <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for manager in managers %}
                            <tr>
                                <td>{{ manager.id }}</td>
                                <td>{{ manager.city.title }}</td>
                                <td>{{ manager.name }}</td>
                                <td>{{ manager.agency|default("", True) }}</td>
                                <td>{{ manager.phone_numbers|default("", True) }}</td>
                                <td>{{ manager.email|default("", True) }}</td>
                                <td>{{ manager.rate }}</td>
                                <td>{{ manager.updated_at.strftime('%d.%m.%Y %H:%M:%S') }}</td>
                                <td>{{ manager.created_at.strftime('%d.%m.%Y %H:%M:%S') }}</td>
                                <td>
                                    <div class="btn-group">
                                        <a title="Edit" href="{{ url_for('managers.edit', manager_id=manager.id) }}" class="btn btn-warning"><i class="fa fa-edit"></i></a>
                                        <a title="Delete" href="{{ url_for('managers.delete', manager_id=manager.id) }}" class="btn btn-danger delete"><i class="fa fa-remove"></i></a>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}

{% endblock %}