<header class="main-header">
    <!-- Logo -->
    <a href="{{ url_for('listings.index') }}" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><b>H</b>FR</span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"><b>Houses</b> For Rents</span>
    </a>
    <!-- Header Navbar -->
    <nav class="navbar navbar-static-top" role="navigation">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>
    </nav>
</header>