<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar Menu -->
        <ul class="sidebar-menu">
            <li class="header">Menu</li>
            <!-- Optionally, you can add icons to the links -->
            <li class="{%- if request.path.find('listings') != -1 or request.path == '/' %}active{% endif %}">
                <a href="{{ url_for('listings.index') }}"><i class="fa fa-list"></i> <span>Listings</span></a>
            </li>
            <li class="{%- if request.path.find('managers') != -1 %}active{% endif %}">
                <a href="{{ url_for('managers.index') }}"><i class="fa fa-users"></i> <span>Managers</span></a>
            </li>
            <li class="{%- if request.path.find('agents') != -1 %}active{% endif %}">
                <a href="{{ url_for('agents.index') }}"><i class="fa fa-users"></i> <span>Agents</span></a>
            </li>
            <li class="{%- if request.path.find('cities') != -1 %}active{% endif %}">
                <a href="{{ url_for('cities.index') }}"><i class="fa fa-building"></i> <span>Cities</span></a>
            </li>
        </ul>
        <!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
</aside>